<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Data</title>
</head>
<body>
  <h1>Student Data</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Student Code</th>
      <th>Full Name</th>
      <th>Major</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    <% students.forEach((student) => { %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.student_code %></td>
        <td><%= student.full_name %></td>
        <td><%= student.major %></td>
        <td><%= student.createdAt %></td>
        <td><%= student.updatedAt %></td>
      </tr>
    <% }) %>
  </table>
</body>
</html>
